.slick-prev::before{
  content: grey url('font-awesome-6-pro/svgs/solid/circle-arrow-left.svg');
  color:gray;
}
.slick-next::before {
  content: rgb(108, 101, 101) url('font-awesome-6-pro/svgs/solid/circle-arrow-right.svg');
  color:gray;
}
.book{
  transition: all 0.3s;
}